{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<head>
     <link href="{{ url_for('static', filename='css/cards.css') }}" rel="stylesheet">
     <script src="{{ url_for('static', filename='js/cards.js') }}"></script>
</head>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">

                    <body>
                      <div class="card-container">
                        {%for tutor in tutors%}
                        
                        <div class="card">{{tutor.username}}</div>
                        {% endfor %}
                      </div>
            </body>
                </div>
            </div>
        </div>
    </div>
{% endblock %}