{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<head>
     <link href="{{ url_for('static', filename='css/cards.css') }}" rel="stylesheet">
     <script src="{{ url_for('static', filename='js/cards.js') }}"></script>
</head>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
<!--                     <head>
                      <link rel="stylesheet" href="./Swipeable cards_files/cards.css">
                    </head> -->
                    <body>
                      <div class="card-container">
                        <div class="card">Das Surma</div>
                        <div class="card">Aerotwist</div>
                        <div class="card">Kinlanimus Maximus</div>
                        <div class="card">Addyoooooooooo</div>
                        <div class="card">Gaunty McGaunty Gaunt</div>
                        <div class="card">Jack Archibungle</div>
                        <div class="card">Sam "The Dutts" Dutton</div>
                      </div>
<!--                       <script src="./Swipeable cards_files/cards.js"></script>
 -->                    </body>
                </div>
            </div>
        </div>
    </div>
{% endblock %}