{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<head>
     <link href="{{ url_for('static', filename='css/cards.css') }}" rel="stylesheet">
     <script src="{{ url_for('static', filename='js/cards.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
</head>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">

                    <body>
                      <div class="card-container">
                        {%for student in students%}
                            {%if (student.id, ) in matched_id %}
                                <div class="card" id="{{student.id}}">
                                    <h2 class="cardhead" align="left">{{student.username}}</h2>
                                    <ul class="cardinfo" alirn="right">
                                        <li><h4>{{student.needs}}</h4></li>
                                        
                                    </ul>   
                                <script type="text/javascript">
                                    $('#{{student.id}}').bind('DOMNodeRemoved', function(e) {
                                            var element = e.target;
                                            var name = element.firstChild.nodeValue;
                                            // var text = element.firstChild.nodeValue + ' removed ';
                                            // alert(text);
                                            $.post('/unmatch/{{student.username}}');
                                    });
                                </script>

                            </div>
                            {%endif%}
                        {% endfor %}
                        
                      </div>
            </body>
                </div>
            </div>
        </div>
    </div>
{% endblock %}