{% extends "base.html" %}
{% block title %}Messages{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>

<head>
    <title>Pusher Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
</head>
<style>
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
    {% for match in matches %}
        <a>{{match.username}}</a>
    {% endfor %}
</div>


<span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Matches</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
     
</body>

<body style="overflow-y:hidden;" class="has-navbar-fixed-bottom">
    <nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-item is-expanded">

                <input id="chat_text" class="input" type="text">
                <a id="chat_button" class="button is-info">
                    Send
                </a>
            </div>
        </div>
    </nav>
    
    <div id="content" class="container" style="overflow-y:auto; margin-bottom: 100px;">
        {% for message in messages %}
        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{ message.username }}</strong>
                        <br> {{ message.message }}
                    </p>
                </div>
            </div>

        </article>
        {% endfor %}
    </div>
    

    <!--<div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input id="username_input" class="input" type="text" placeholder="Choose a username">
                </div>
                <div class="control">
                    <a id="start_chat" class="button is-info">
                        Start Chatting
                    </a>
                </div>
            </div>
        </div>
    </div> -->

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

    <script>

    $(function() {
        
        

        /**$('#start_chat').on('click', function() {
            username = $('#username_input').val();
            $('.modal').removeClass('is-active');
            
        });*/
        
        $('#chat_button').on('click', function(){
            

            let message = $('#chat_text').val()


            $.post('/message/3', { 'message' : message}, function() {
            $('#chat_text').val('');
                    
            });
        });

    
    });


    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

     var pusher = new Pusher('b67e1b7dd4b245e4a5c9', {
      cluster: 'us2',
      encrypted: true
    });
    //to do: if user1.matchedwithuser2: 
    //message channel = user1ID + user2ID
    //pusher.subscribe(message channel)
    var channel = pusher.subscribe('boi');
    channel.bind('new-message', function(data) {

        let name = data.username;
        let message = data.message;
        let message_template = `  
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>${name}</strong>
                            <br> ${message}
                        </p>
                    </div>
                </div>
            </article>`;

        $('#content').append(message_template);
    });

    

    </script>
    
</body>
</html>
{% endblock %}